<header>
  <div class="container">
    <a class="logo" href="#">
      <img src="/assets/images/logo.jpg" alt="logo" id="logo" class="logo__image" />
      <h1>HG</h1>
    </a>

    <nav>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">
            <span class="nav__link-text">Início</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            <span class="nav__link-text">Blog</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            <span class="nav__link-text">Sobre</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
