.swiper-slide {
  position: relative;
  height: 40vh;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    filter: brightness(0.5);
    z-index: 9;
  }
  .swiper-slide-caption {
    position: relative;
    z-index: 10;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }

    h2 {
      font-size: 50px;
      margin-bottom: 30px;
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
    }
  }
}

.swiper-container {
  position: relative;

  .swiper-prev,
  .swiper-next {
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #fff;
    z-index: 10;
    transform: translateY(-50%);
    transition: .5s;
    &.swiper-prev {
      left: 5px;
    }
    &.swiper-next {
      right: 5px;
    }
  }
  &:hover{
    .swiper-prev,
    .swiper-next {
      opacity: 1;
      transition: .5s;
    }
  }
}

::ng-deep {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
  .swiper-pagination-bullet-active{
    background: var(--white-color);
  }
}
